footer{
    text-align: center;
    padding: 3.2rem;
    background-color: var(--btn-color);
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    
}

a{
    color: white;
}


